/* PRESET VALUES */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */

/* ------------------------------------------------------------- */

/* HEADER */

.page-header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  margin-right: 149px;
}

.part-header-logo {
  color: #2e2f42;
}

.header-container {
  display: flex;
}

.header-menu-btn {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
}

/* ------------------------------------------------------------- */

/* INTRO SECTION */

.intro-section {
  background-color: #2e2f42;
  background-image: linear-gradient
    (rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;
}

.intro-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #fff;
  width: 216px;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.intro-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.intro-btn:hover,
.intro-btn:focus {
  background-color: #404bbf;
}

/* ------------------------------------------------------------- */

/* GOALS SECTION */

.goals-section {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #fff;
}

.goals-list-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  display: block;
  margin-bottom: 8px;
}

.goals-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  margin-bottom: 72px;
}

.goals-list-item:last-child .goals-list-text {
  margin-bottom: 0;
}

/* ------------------------------------------------------------- */

/* TEAM SECTION */

.team-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-container {
  padding: 0 28px;
}

.team-main-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 72px;
}

.team-list-item {
  border-radius: 0 0 4px 4px;
  padding-bottom: 32px;
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
  margin-bottom: 72px;
}

.team-list-item:last-child {
  margin-bottom: 0;
}

.team-list-img {
  margin-bottom: 32px;
}

.team-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
}

.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
}

.team-sub-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team-sub-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 12px 12px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-sub-list-link:hover,
.team-sub-list-link:focus {
  background-color: #31d0aa;
}

.team-sub-list-icon {
  fill: #f4f4fd;
}

/* ------------------------------------------------------------- */

/* PORTFOLIO SECTION */

.portfolio-section {
  background-color: #fff;
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-main-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.portfolio-list-item {
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  margin-bottom: 48px;
  padding-bottom: 32px;
}

.portfolio-list-item:last-child {
  margin-bottom: 0;
}

.portfolio-list-img {
  margin-bottom: 32px;
}

.portfolio-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  margin-bottom: 8px;
  padding-left: 16px;
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding-left: 16px;
}

/* ------------------------------------------------------------- */

/* FOOTER */

.page-footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 18px;
  text-align: center;
  display: block;
}

.part-footer-logo {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: block;
  margin-bottom: 72px;
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-soc-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 8px 8px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-list-link:hover,
.footer-soc-list-link:focus {
  background-color: #31d0aa;
}

.footer-soc-list-icon {
  fill: #f4f4fd;
}

.footer-input-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.footer-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.31;
  padding-left: 16px;
  background-color: #2e2f42;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  color: #fff;
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.6;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  margin-right: auto;
  margin-left: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #404bbf;
}

.footer-btn-icon {
  fill: #fff;
  margin-left: 16px;
}
